<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="classes" thread-count="4">
    <test verbose="2" preserve-order="true" name="C:/Users/patil/IdeaProjects/RestAssured011024">
        <classes>
            <class name="org.example.CreateBookingTests">
                <methods>
                    <include name="createAndValidateStatusCode"/>
                </methods>
            </class>
            <class name="org.example.DeleteBookingApiTests">
                <methods>
                    <include name="deleteAndValidateStatusCode"/>
                </methods>
            </class>
            <class name="org.example.GetBookingApiTests">
                <methods>
                    <include name="validateStatusCodeForGetBookingId"/>
                    <include name="validateStatusCodeForGetBookingBYId"/>
                </methods>
            </class>
            <class name="org.example.UpdateBookingApiTests">
                <methods>
                    <include name="updateAndValidateStatusCode"/>
                </methods>
            </class>
        </classes>
    </test>
    <listeners>
        <listener class-name="org.example.listeners.AnnotationTransformer"></listener>
    </listeners>
</suite>